---
page_title: "ndfc Provider"
subcategory: ""
description: |-

---

# ndfc Provider

{{.Description}}
NDFC terraform provider is used to manage Cisco Nexus Dashboard Fabric Controller (NDFC)
It supports various resources to provision NDFC
Refer the docs in resources and datasources folder to see more details on the supported resources and data sources.

## ndfc Provider Example

```hcl
provider "ndfc" {
  # Configuration options
  username = "***"
  password = "***"
  url     = "https://testnd.cisco.com"
  insecure = true
  timeout = 100
  domain = "local"
}
```
username, password, url, timeout, domain and insecure can also be supplied as environment variables `NDFC_USER`, `NDFC_PASSWORD`, `NDFC_URL`, `NDFC_TIMEOUT`, `NDFC_DOMAIN` and `NDFC_INSECURE` respectively. If the environment variables are set, the provider configuration block would be omitted.
## Argument Reference

{{.SchemaMarkdown}}
