---
page_title: "ndfc_interface_ethernet Resource - terraform-provider-ndfc"
subcategory: ""
description: |-
  Manages interface ethernet configuration
---

# ndfc_interface_ethernet (Resource)

Manages interface ethernet configuration

## Example Usage

{{codefile "hcl" .ExampleFile }}

## Parameters

- `policy` - Policy to be used for the interface. Defaults to `int_access_host`. For different supported policies see below
- `policy_type` - Specifies if the policy is user defined or the default ones available in system - Always use "system" which is the default
- `deploy` - Deploy the configuration
- `serial_number` - Serial number of switch to configure
- `interfaces` - Interfaces to configure (see below for nested schema)
                 interfaces is a map of interface configuration. The key can be the interface name.
                 However the key can be anything.

### Policy types for ethernet

| Port Type | Default policies in NDFC | Remarks      |
|:---------:|:------------------------:|:-------------|
| Access    | [int_access_host](#policy-int_access_host)          |              |
| Trunk     | [int_trunk_host](#policy-int_trunk_host)           |              |
|           | [int_dot1q_tunnel_host](#policy-int_dot1q_tunnel_host)    | dot1q-tunnel |
| Routed    | [int_routed_host](#policy-int_routed_host)          |              |
|           | [epl_routed_host](#policy-epl_routed_host)          |              |
|           | [int_pvlan_host](#policy-int_pvlan_host)           |              |
|           | [int_monitor_ethernet](#policy-int_monitor_ethernet)     |              |


## Interface Configuration

### Common for all policies

- `interface_name` - Name of the Interface. Example: Ethernet1/10
- `freeform_config` - Freeform Config (Additional CLI for the interface)
- `interface_description` - Interface Description (Add description to the interface (Max Size 254))
- `ptp` -  (Default: false)
- `speed` - SPEED (Interface Speed) (Default: Auto)
- `admin_state` - Enable Interface (Uncheck to disable the interface) (Default: true)


### Policy-Specific Parameters

The `ndfc_interface_ethernet` resource supports different parameters depending on the policy you choose.
<a id="policy-epl_routed_intf"></a>
### Policy: epl_routed_intf

The following parameters are supported when using the `epl_routed_intf` policy:

- `ipv4_address` - Interface IP (IP address of the interface)
- `ipv4_prefix_length` - IP Netmask Length (IP netmask length used with the IP address)
- `routing_tag` - Routing TAG (0-4294967295)
- `link_state_routing_protocol` - Link-State Routing Protocol (Select link-state routing protocol)
- `link_state_routing_tag` - Link-State Routing Tag (Link-state routing protocol tag)
- `ipv6_addr` - IPv6 Address (IPv6 address of the Interface)
- `ipv6_prefix_length` - IPv6 Prefix Length (Prefix length associated with IPv6 address (Min:64, Max:127))
- `mtu` - MTU (MTU for the Interface (Min:576, Max:9216)) (Default: 1500)
<a id="policy-int_access_host"></a>
### Policy: int_access_host

The following parameters are supported when using the `int_access_host` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `access_vlan` - Access Vlan (VLAN for this access port)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 2 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only)
- `enable_pfc` - Enable priority flow control (Enable priority flow control) (Default: false)
- `enable_qos` - Enable QoS Configuration (Enable to configure a QoS Policy for this interface. If AI/ML Queuing is enabled on the fabric, will use the QOS_CLASSIFICATION policy. Enter a custom policy below to override) (Default: false)
- `qos_policy` - Custom QoS Policy (Custom QoS Policy must be defined previously)
- `queuing_policy` - Custom Queuing Policy  (Queuing Policy must be defined previously)
- `enable_monitor` - Switchport monitor (Enable switchport monitor for SPAN / ERSPAN) (Default: false)
<a id="policy-int_dot1q_tunnel_host"></a>
### Policy: int_dot1q_tunnel_host

The following parameters are supported when using the `int_dot1q_tunnel_host` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `access_vlan` - Access Vlan (VLAN for this access port)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 2 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only)
- `enable_pfc` - Enable priority flow control (Enable priority flow control) (Default: false)
- `enable_qos` - Enable QoS Configuration (Enable to configure a QoS Policy for this interface. If AI/ML Queuing is enabled on the fabric, will use the QOS_CLASSIFICATION policy. Enter a custom policy below to override) (Default: false)
- `qos_policy` - Custom QoS Policy (Custom QoS Policy must be defined previously)
- `queuing_policy` - Custom Queuing Policy  (Queuing Policy must be defined previously)

<a id="policy-int_monitor_ethernet"></a>
### Policy: int_monitor_ethernet

No parameters in this template

<a id="policy-int_pvlan_host"></a>
### Policy: int_pvlan_host

The following parameters are supported when using the `int_pvlan_host` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `pvlan_mode` - PVLAN Mode (private-vlan mode) (Default: host)
- `pvlan_allowed_vlans` - PVLAN Allowed Vlans (Allowed values: 'none', or vlan ranges (ex: 1-200,500-2000,3000))
- `pvlan_native_vlan` - Native Vlan
- `enable_pfc` - Enable priority flow control (Enable priority flow control) (Default: false)
- `enable_qos` - Enable QoS Configuration (Enable to configure a QoS Policy for this interface. If AI/ML Queuing is enabled on the fabric, will use the QOS_CLASSIFICATION policy. Enter a custom policy below to override) (Default: false)
- `qos_policy` - Custom QoS Policy (Custom QoS Policy must be defined previously)
- `queuing_policy` - Custom Queuing Policy  (Queuing Policy must be defined previously)

<a id="policy-int_routed_host"></a>
### Policy: int_routed_host

The following parameters are supported when using the `int_routed_host` policy:

- `vrf` - Interface VRF (Interface VRF name, default VRF if not specified)
- `ipv4_address` - Interface IP (IP address of the interface)
- `ipv4_prefix_length` - IP Netmask Length (IP netmask length used with the IP address (Min:1, Max:31))
- `routing_tag` - Routing TAG (Routing tag associated with interface IP)
- `mtu` - MTU (MTU for the interface (Min:576, Max:9216)) (Default: 9216)
- `disable_ip_redirects` - Disable IP Redirects (Disable both IPv4/IPv6 redirects on the interface) (Default: false)
- `enable_pim_sparse` - Enable PIM Sparse-mode (Enable PIM sparse-mode on the interface) (Default: false)
- `pim_dr_priority` - PIM DR Priority (<1-4294967295> Configure priority for PIM DR election on the interface, default is 1) (Default: 1)
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 3 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only)
- `enable_pfc` - Enable priority flow control (Enable priority flow control) (Default: false)
- `enable_qos` - Enable QoS Configuration (Enable to configure a QoS Policy for this interface. If AI/ML Queuing is enabled on the fabric, will use the QOS_CLASSIFICATION policy. Enter a custom policy below to override) (Default: false)
- `qos_policy` - Custom QoS Policy (Custom QoS Policy must be defined previously)
- `queuing_policy` - Custom Queuing Policy  (Queuing Policy must be defined previously)

<a id="policy-int_shared_trunk_host"></a>
### Policy: int_shared_trunk_host

The following parameters are supported when using the `int_shared_trunk_host` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `ig_for_fex` - IG for Fex Ports (Shared group for fex ports)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `auto_negotiate` - AUTO NEGOTIATE (Auto Negotiate mode for speed) (Default: on)
- `allowed_vlans` - Trunk Allowed Vlans (Allowed values: 'none', 'all', or vlan ranges (ex: 1-200,500-2000,3000)) (Default: none)
- `native_vlan` - Native Vlan (Set native VLAN for the interface)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `ttag` - Enable Ttag/Ttag-strip
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 2 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only. Do not set if used for N9K!)

<a id="policy-int_trunk_classic"></a>
### Policy: int_trunk_classic

The following parameters are supported when using the `int_trunk_classic` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `path_cost` - Spanning Tree Port Path Cost (<1-200000000>)
- `guard_mode` - Spanning Tree Guard Mode (Set spanning tree guard mode for the interface, select 'no' to delete the config)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `allowed_vlans` - Trunk Allowed Vlans (Allowed values: 'none', 'all', or vlan ranges (ex: 1-200,500-2000,3000)) (Default: none)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 2 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only)

<a id="policy-int_trunk_host"></a>
### Policy: int_trunk_host

The following parameters are supported when using the `int_trunk_host` policy:

- `bpdu_guard` - Enable BPDU Guard (Enable spanning-tree bpduguard: true='enable', false='disable', no='return to default settings') (Default: true)
- `port_type_fast` - Enable Port Type Fast (Enable spanning-tree edge port behavior) (Default: true)
- `mtu` - MTU (MTU for the interface) (Default: jumbo)
- `allowed_vlans` - Trunk Allowed Vlans (Allowed values: 'none', 'all', or vlan ranges (ex: 1-200,500-2000,3000)) (Default: none)
- `native_vlan` - Native Vlan (Set native VLAN for the interface)
- `cdp_enable` - Enable CDP (Enable CDP on the interface) (Default: false)
- `orphan_port` - Enable vPC Orphan Port (If enabled, configure the interface as a vPC orphan port to be suspended by the secondary peer in vPC failures) (Default: false)
- `port_duplex_mode` - Port Duplex Mode (Configure the port duplex mode) (Default: auto)
- `netflow` - Enable Netflow (Netflow is supported only if it is enabled on fabric) (Default: false)
- `netflow_monitor` - Netflow Monitor (Provide the Layer 2 Monitor Name)
- `netflow_sampler` - Netflow Sampler (Netflow sampler name, applicable to N7K only)
- `enable_pfc` - Enable priority flow control (Enable priority flow control) (Default: false)
- `enable_qos` - Enable QoS Configuration (Enable to configure a QoS Policy for this interface. If AI/ML Queuing is enabled on the fabric, will use the QOS_CLASSIFICATION policy. Enter a custom policy below to override) (Default: false)
- `qos_policy` - Custom QoS Policy (Custom QoS Policy must be defined previously)
- `queuing_policy` - Custom Queuing Policy  (Queuing Policy must be defined previously)
- `enable_monitor` - Switchport monitor (Enable switchport monitor for SPAN / ERSPAN) (Default: false)


## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
